.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 12px 18px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: background-color .15s, color .15s;
  -o-transition: background-color .15s, color .15s;
  transition: background-color .15s, color .15s;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font: 14px "Open Sans", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

.landing-block__header {
  background-image: url(../../assets/img/bg1.jpg);
  background-color: #131419;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landing-block__subhead {
  width: 100%;
  height: 630px;
  padding-top: 70px;
  background-image: url(../../assets/img/bg3.png);
  background-color: #edeef0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 60px;

   li {
    list-style-type: none;
    z-index: 10;

     a {
      color: #fff;
      z-index: 10;
      gap: 20px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 15px 10px;
      -webkit-transition: color .1s;
      -o-transition: color .1s;
      transition: color .1s;

      &:hover,
      &.active {
        color: #5aacc0;
      }
    }
  }
}

.about-block {
  width: 60%;
  margin: 90px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .divider {
    margin-top: 67px;
    border: none;
    width: 70px;
    height: 3px;
    background: #c4c6c6;
    margin-bottom: 60px;
  }

  .text {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    width: 823px;
    margin-bottom: 60px;
  }
}

.slider-menu {
  display: flex !important;
  justify-content: center;
  margin-top: 140px;
  width: 100%;
  height: 3px;

  li {;
    cursor: pointer;
    list-style: none;
    float: left;
    height: 3px;
    width: 64px;
    margin: 0 8px;
    display: flex;
    background-color: #c4c6c6;

    &:hover {
      background-color: #5aacc0;
    }

    &.slick-active {
      background-color: #5aacc0;
    }

    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      width: 100%;
      height: 14px;
      margin-top: -5px;
      font-size: 0;
    }
  }
}

.carousel {
  width: 100%;
  color: #fff;

  .carousel-item {
    padding-bottom: 13px;

    &:focus {
      outline: none;
    }
  }
}

.how-to-play {
  width: 60%;
  padding: 50px 80px 68px 80px;
  margin-top: 140px;
  margin-bottom: -40px;
  background-image: url(../img/help-border.png);
  background-repeat: no-repeat;
  opacity: .99;

  .how-to-headline {
    margin: 0 auto 90px auto;

    .headline {
      text-align: center;
      color: #fff;
      font-size: 29px;
      display: block;
      margin-bottom: 20px;
      font-weight: 600;
    }

    .description {
      text-align: center;
      color: #fff;
      font-size: 14px;
      display: block;
      font-weight: 500;
    }
  }

  .steps {
    display: flex;
    gap: 94px;
    justify-content: space-between;

    .step {
      width: 33.33333%;
      padding: 10px 0;

      .square {
        height: 37px;
        width: 37px;
        background-color: #fff;
        display: block;
        margin: 0 auto;
        border-radius: 6px;
        transform: rotate(-45deg);

        span {
          font-weight: 700;
          color: #000;
          font-size: 24px;
          text-align: center;
          line-height: 35px;
          display: block;
          transform: rotate(45deg);
        }

        &:hover {
          animation: squareRotate 1s 0s 1 cubic-bezier(1.00, 0.015, 0.295, 1) alternate;
        }
      }

      .text-headline {
        display: block;
        margin: 35px 0 25px 0;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
      }

      .text-description {
        display: block;
        color: rgba(255, 255, 255, .55);
        text-align: center;
        font-weight: 300;
        line-height: 18px;
        font-size: 13px;
      }
    }
  }
}

.landing-block__mid {
  width: 100%;
  background-image: url(../img/bg2.png);
  background-color: #edeef0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 65px;
}

.why-mta {
  padding-top: 195px;
  margin: 0 auto;
  width: 979px;

  .headline {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
  }

  .description {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    letter-spacing: .2px;
  }
}

.comparison {
  margin: 135px auto 0 auto;
  width: 979px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  span {
    font-size: 16px;
    font-weight: 600;
    color: #282829;
  }

  ul {
    margin-top: 60px;
    width: 410px;

    li {
      list-style-type: none;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 60px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        display: inline-block;
        background-color: #95c9d7;
        border-radius: 1px;
        left: -30px;
        top: 7px;
        transform: rotate(-45deg);
      }
    }
  }
}

.landing-block__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131419;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  display: flex;
  gap: 142px;
  justify-content: space-between;
  width: 60%;
  padding-top: 42px;

  .additional-info {
    width: 100%;

    .footer-menu {
      display: flex;
      gap: 42px;

      a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        transition: color .1s;

        &:hover {
          color: #5aacc0;
        }
      }

      .up {
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        transition: color .1s;
        display: block;
        margin-left: auto;
        margin-right: 25px;
        padding: 5px;
        border-top: 2px solid #5aacc0;

        i {
          transition: transform .1s;
        }

        &:hover {
          i {
            transform: translateY(-3px);
          }
        }
      }
    }

    .copyright {
      color: #747476;
      font-size: 12.5px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 15px;
    }

    .socials {
      display: flex;
      margin: 15px 0;
      gap: 20px;

      a {
        i {
          color: white;
          font-size: 24px;
        }

        &:hover {
          i {
            color: #5aacc0;
          }
        }
      }
    }
  }
}

.header-buttons {
  padding-bottom: 50px;

  .logo-ls {
    display: block;
    margin: 33px auto 60px auto;
  }

  .header-buttons__text {
    display: block;
    margin: 0 auto 81px auto;
    color: #fff;
    font-size: 14px;
    width: 700px;
    text-align: center;
    line-height: 24px;
  }

  .header-buttons__buttons {
    display: flex;
    gap: 82px;
    justify-content: center;

    a {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      text-decoration: none;
      color: white;
      padding: 9px 20px;
      @extend .btn;

      &:hover {
        color: black;
      }
    }

  }
}

.rule-blocks {
  width: 1058px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-content: space-between;

  .column {
    width: 458px;
    height: 495px;

    .block {
      width: 458px;
      height: 212px;
      margin-right: 142px;
      padding: 25px 0 0 30px;
      margin-bottom: 71px;
      border-left: 3px solid #d7d9dd;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: border-left .1s;
      position: relative;
      text-decoration: none;

      &:hover {
        border-left: 3px solid #62bbd1;

        .block-link {
          background-color: #62bbd1;
          color: #edeef0;
        }
      }

      .block-headline {
        font-size: 24px;
        color: #191a1b;
      }

      .block-text {
        font-size: 14px;
        color: #191a1b;
      }

      .block-link {
        display: block;
        text-align: center;
        background-color: #d7d9dd;
        color: #a4a8a9;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 37px;
        transition: background-color .1s, color .1s;
      }

      .fullblock-anchor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-decoration: none;
      }
    }
  }
}

@keyframes squareRotate {
  to {
    transform: rotate(315deg)
  }
}